Package: net.sourceloc.stagepad
Name: StagePad
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome Orion tweak!
Maintainer: sourcelocation
Author: sourcelocation
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0)
